/node_modules/
/videos/123.mp4
/videos/Bao.2018.720p.BluRay.x264-[YTS.AM].mp4
/videos/test.mkv
/videos/What.If.S01E01.2160p.DSNP.WEB-DL.x265.10bit.HDR.DDP5.1.Atmos-NOGRP.mkv
/videos/What.If.S01E01.2160p.DSNP.WEB-DL.x265.10bit.HDR.DDP5.1.Atmos-NOGRP.mp4
/.idea/
